.list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 45%;
  padding: 1.5rem;
  background: #acb2c3;
  border-radius: 5px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
}

.container {
  width: 100%;
  display: flex;
}

.image {
  width: 45%;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
  margin-right: 1.5rem;
}

.heading {
  display: inline-block;
  width: 100%;
  text-align: center;
  min-height: 120px;
}

.titlebar {
  display: table;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  padding: 0.75rem 0 0.5rem 0;
  margin-bottom: 0.75rem;
  border-bottom: 2px solid #ff0022;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
}

.h2 {
  font-size: 1.5rem;
}

.year {
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  text-shadow: 3px 1px #ff0022, 5px 2px 2px #2a2a72;
  margin-bottom: 1rem;
}

.description {
  padding: 1rem;
  background: #f5f0f6;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}

.text {
  hyphens: auto;
}

.text::first-letter {
  color: #ff0022;
  font-family: Rubik, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.castMembers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
  border-top: 3px solid #2a2a72;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
}

.cast {
  width: 60px;
  border-radius: 3px;
  margin: 0.25rem;
}

@media only screen and (max-width: 750px) {
  .item {
    width: 100%;
  }
}
